@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
    font-family: Arial, Veranda, sans-serif, Roboto Slab;
    color: #000000;
    font-size: 20pt;
    background-size: 100%;
}

body, html {
     width: 100%;
     height: 100%;
}
/* Шапка странички */
header {
    width: 100% ;
    height: 50px;
    float: left;
    background-color: #D3D3D3;

}
header #logo span{

    font-size: 1.4em;
    line-height: 45px;
    margin-left: 55px;
    width: 100%;
    font-family: 'Montserrat', serif;
}
.section{
    margin-top:5px;
    height: 650px;
    width: 100%;
}
.menu-btn {
    margin-top: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00FFFF;
}
.menu-btn span, .menu-btn span::before, .menu-btn span::after  {
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    top: 50%;
    width: 20px;
    height: 2px;
    background-color: #222;
}
/* создаем для кнопки декоратор */
.menu-btn span::before, .menu-btn span::after {
    content: '';
    display: block;
    transition: 0.5s;

}
.menu-btn span::before {
    transform: translateY(-5px);
}
.menu-btn span::after {
    transform: translateY(5px);
}
.menu-btn_active span:before{
    transform: rotate(35deg);
}

/* создаем секции при раскрытии меню */
.menu-btn_nav {
    padding-top: 40px;

    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    float: right;
    right: -100%;
}

.menu-btn_active .menu-btn_nav {
    left: 0;
}
.menu-link {
padding: 30px;
font-family: 'PT Serif', serif;
font-size: 26px;
text-decoration: none;
text-transform: uppercase; /* отвечает за положение над или под блоками*/
letter-spacing: 5px;
font-weight: bold;
color: #fff;
}
.menu-link:hover{
color: #808080;
}
h1 {
margin-left: 20px;
font-size: 1.1em;
font-family: 'PT Serif', serif;

}
#image {
background-image: url(https://lubertsyriamo.ru/files/image/07/05/07/-lg!0tl5.jpg);
height: 550px;
margin-left: 50px;
width: 800px;
background-color: #00FF00;
border-radius: 20px;


}