<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link   rel="stylesheet" href="{{ url_for('static', filename='css/for_first_page.css') }}">
    <title>Registration</title>
    <style>
    * {
        margin: 0;
        padding: 0;}
    </style>
</head>
<body>
    <header>
    <div id="logo">
        <span>Cooperative</span>
    </div>
    <div id="about" onclick="#">
        <a href="/" title="Регистрация" >Регистрация</a>
        <a href="/autho" title="Авторизация" >О нас</a>
        <a href="#" title="Контакты" >Контакты</a>
    </div>
    </header>

    <div id="Registration">
        <form id="form_input">

            <label for="login">Логин<span>*</span></label><br>
            <input type="text" placeholder="Введите ваш логин или почту" name="login" id="login"><br>

            <label for="password">Пароль<span>*</span></label><br>
            <input type="text" placeholder="Введите ваш пароль" name="password" id="password"><br>

            <div id="mess_send" class="btn"><a href="/main" title="Авторизация">Войти</a></div>
        </form>

    </div>

</body>
</html>